* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: px solid green;
}



body {
  font-size: 1rem;
  line-height: 1rem;
  color: #999;
  letter-spacing: 0.1px;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

h5 {
  font-size: 0.7rem;
  line-height: 2rem;
}

a:link {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover,
a:active {
  color: red;
}

button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

/* start*/
/* 헤더 */
header {}

header>section {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

header section> :nth-child(1) img {
  width: 222px;
  height: 75px;
}

header section> :nth-child(2) img {
  width: 168px;
  height: 75px;
}

header section> :nth-child(3) img {
  width: 22px;
  height: 22px;
}

header section> :nth-child(3) {
  width: 80px;
  height: 22px;
  margin: auto 0;
}

/*네비게이션*/
header nav {
  width: 100%;
  height: 40px;
  padding: 0.5rem 0;
  background: #21225d;
}

header nav section {
  width: 1000px;
  height: 30px;
  margin: 0 auto;
}

header nav section ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav section ul li {
  height: 30px;
  color: white;
  line-height: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

header nav section ul li:hover {
  color: #e0ce0a
}

/*메인 사진 */
main {
  width: 100%;
  height: 400px;
  background: #6f1521
}

.main_img {
  width: 1200px;
  height: 401px;
  background: url('img/visual21.jpg') no-repeat;
  background-size: auto;
  background-position: center;
  margin: 0 auto;
}

/*메인 메뉴*/
main section {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  border:1px solid #eee;
  border-radius: 20px;
}

main section div {
  width: 166px;
  height: 166px;
  text-align: center;
  cursor:pointer;
  transition:0.7s;
}

main section div:hover {
  background: #eeee53;
}


main section> div:not(:last-child) {
    border-right: 1px solid #eee;
}

main section img {
  width: 80px;
  height: 80px;
  margin: 2rem 0 1rem 0;
}

main section span {
  white-space: nowrap;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.empty {
  width: 100%;
  height: 170px;
}

/* 공지 */
.notice {
  width: 100%;
  height: 200px;
  padding: 4rem 0;
}

.notice section {
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.notice section img {
  width: 55px;
  height: 55px;
  display: block;
}

.notice section div {
  width: 305px;
  height: 60px;
  margin-left: 10px;
  padding: 5px 0 0 10px;
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
}

.notice p:hover {
  cursor: pointer;
    text-decoration: underline;
}

.notice section :nth-child(2) button {
  background: #7bb6e4;
}

.notice section div button {
  width: 40px;
  height: 20px;
  padding: 0;
  border-radius: 20px;
  background: #e0ce0a;
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/*프렌차이즈*/
.fran {
  width: 100%;
  height: 400px;
  padding: 4rem 0;
  background: #f5f5f4;
}
.move_fran {
  width: 1000px;
  height: 250px;
  display: flex;
  margin: 0 auto;
}
.fran section {
  width: 500px;
  height: 250px;
}
.fran>div :first-child div {
  width: 498px;
  height: 123px;
  padding: 30px 30px;
  border: 1px solid black;
  border-radius: 20px;
  background: #fcfcfc;
}
.fran>div :first-child div h3 {
  color: #030f81;
  font-weight: bold;
}
.fran>div :first-child div p {
  font-size: 0.8rem;
  color: #fcb40c;
  font-weight: 900;
  letter-spacing: 0.1%;
  word-spacing: 0.1%;
}
.fran>div :first-child div img {
  width: 66px;
  height: 66px;
}
.fran>div :first-child>div {
  margin-bottom: 5px;
  position: relative;
}
.fran>div :first-child> :first-child img {
  position: absolute;
  right: 5%;
  top: 28%;
}
.fran>div :first-child> :last-child {
  position: relative;
}
.fran>div :first-child> :last-child img {
  position: absolute;
  right: 5%;
  top: 28%;
}

.move_fran> :last-child {
  display: flex;
  justify-content: space-around;
}
.move_fran> :last-child div {
  width: 245px;
  height: 250px;
  padding: 30px 30px;
  border: 1px solid black;
  border-radius: 20px;
  background: #fcfcfc;
}
iframe {
  width: 183px;
  height: 110px;
  margin: 2px 0 10px 0;
}
.move_fran> :last-child> :last-child {
  background: url('img/bnr_bg.jpg') no-repeat;
  background-size: cover;
}
.move_fran> :last-child> :first-child h3,
.move_fran> :last-child> :last-child h3 {
  color: #030f81;
  line-height: 1.2rem;
  font-weight: bold;
}
.move_fran> :last-child> :first-child p,
.move_fran> :last-child> :last-child p {
  font-size: 0.7rem;
  font-weight: bold;
}
.move_fran> :last-child> :first-child p {
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
}

.move_fran section div:hover {
  cursor: pointer;

}

/*푸터*/
footer {
  width:100%;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}
footer section {
  width: 1000px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}
footer section nav {

}
footer nav ul {
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
footer nav ul li {
  height: 30px;
  margin-left: 1rem;
  padding:10px 5px;
  color: black;
  line-height: 1rem;
  cursor: pointer;
}
footer button {
  padding:0;
  width:60px;
  height: 60px;
  text-align: center;
  background: none;
  font-weight: bold;
}

/*어드레스*/
.last_article {
  width:100%;
  height: 120px;
  padding:20px 0 ;
}

.last_article section {
  width:1000px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;

}
.last_article p {
  color:black;
  font-weight: bold;
  margin-bottom: 5px;
}

.last_article span {
  font-size: 0.7rem;
}

.last_article img {
  width:320px;
}

img {
  cursor: pointer;
}
